.crx_mouse_visited {
    outline: 0.5em dashed #5166bb !important;
    /* filter: sepia(80%)!important; */
    background-color: rgba(0, 0, 0, 0.6)!important; 
    filter: saturate(70%)!important;
    filter: invert(85%)!important;
}
